extends ../layout

block body
  include ../navbar

  .container#content
    .row
      .col-md-12
        h1=editor.name
    .row
      .col-md-12
        ul.nav.nav-tabs
          li.active: a(href='./'+editor.id) Profile
          li: a(href=editor.id+'/revisions') Revisions
    .row
      .col-md-7
        h2 Basic Info
          if editor.user_id == user.id
            small.pull-right
              button.btn.btn-warning.btn-xs.fa.fa-pencil.entity-action
                span.sr-only Edit basic editor info
        dl.dl-horizontal
          dt Email
          dd
            if editor.email
              =editor.email
              | &nbsp;
            i (hidden)
            if (editor.user_id != user.id)
              a.btn.btn-warning.btn-xs.fa.fa-envelope-o.entity-action(title='Compose message', href='/messageForm?recipients=' + editor.id)
                span.sr-only Compose message to #{editor.name}
          dt Type
          dd=editor.user_type.label
          dt Reputation
          dd 0
          dt Joined
          dd=(new Date(editor.created_at)).toUTCString()
          dt Last Active
          dd=(new Date(editor.active_at)).toUTCString()
          dt Bio
          dd=(editor.bio ? editor.bio : '-')
        h2 Stats
        if stats
          dl.dl-horizontal
            dt Total Revisions
            dd=stats.total_revisions
            dt Revisions Applied
            dd=stats.revisions_applied
            dt Revisions Reverted
            dd=stats.revisions_reverted
        else
          p N/A
      .col-md-5
        h2 Activity
        canvas#revisionChart(width="400", height="250")


  include ../footer

  script(src='/js/editor.js')
