extends /layout

block body
  include /navbar

  .container
    .row
      .col-md-12
        h1
          small.pull-right
            button.btn.btn-warning.btn-xs.fa.fa-pencil.entity-action
            button.btn.btn-primary.btn-xs.fa.fa-share-alt.fa-flip-horizontal.entity-action
            button.btn.btn-danger.btn-xs.fa.fa-remove.entity-action
            a(href='/creator/'+entity.gid+'/history')
              code='r'+entity.master_revision_id
          if entity.aliases.aliases
            =entity.aliases.aliases[0].name
            |&nbsp;
          if entity.disambiguation.disambiguation
            small='('+entity.disambiguation.disambiguation.comment+')'
        hr
    .row
      .col-md-8
        h2(style="display:none") Publications
        table.table.table-striped(style="display:none")
          tr
            th Name
            th Original Year
          tr
            td: a(href='/publication/x') Publication 1
            td 2002
          tr
            td: a(href='/publication/y') Publication 2
            td 2004
          tr
            td: a(href='/publication/w') Publication 3
            td 2005
          tr
            td: a(href='/publication/z') Publication 4
            td 2005
        hr(style="display:none")

        h2
          small.pull-right
            a.btn.btn-warning.btn-xs.fa.fa-pencil.entity-action(href='/creator/'+entity.gid+'/relationships')
          | Relationships
        ul.list-unstyled
          for relationship in entity.relationships.objects
            li!=relationship.rendered

      .col-md-4
        .text-center No Image
        hr
        dl
          dt Type
          dd=(entity.data.creator_data.creator_type ? entity.data.creator_data.creator_type.label : '?')
          
          dt Gender
          dd=(entity.data.creator_data.gender ? entity.data.creator_data.gender.name : '?')

          dt Begin Date
          dd=(entity.data.creator_data.begin_date ? entity.data.creator_data.begin_date : '?')

          if entity.data.creator_data.ended
            dt End Date
            dd=(entity.data.creator_data.end_date ? entity.data.creator_data.end_date : '?')

          dt Last Modified
          dd=(new Date(entity.last_updated)).toLocaleDateString()

  include /footer
