extends /layout

block body
  include /navbar

  .container
    .row
      .col-md-12
        h1
          small.pull-right
            button.btn.btn-warning.btn-xs.fa.fa-pencil.entity-action
              span.sr-only Edit publication
            button.btn.btn-primary.btn-xs.fa.fa-share-alt.fa-flip-horizontal.entity-action
              span.sr-only Share publicaion
            button.btn.btn-danger.btn-xs.fa.fa-remove.entity-action
              span.sr-only Remove publication
            a(href='/publication/'+entity.gid+'/history')
              span.sr-only History 
              code='r'+entity.master_revision_id
          if entity.aliases.aliases
            =entity.aliases.aliases[0].name
            |&nbsp;
          if entity.disambiguation.disambiguation
            small='('+entity.disambiguation.disambiguation.comment+')'
        hr
    .row
      .col-md-8
        h2(style="display:none") Editions
        table.table.table-striped(style="display:none")
          tr
            th Name
            th Year
          tr
            td: a(href='/edition/x') Edition 1
            td 2002
          tr
            td: a(href='/edition/y') Edition 2
            td 2004
          tr
            td: a(href='/edition/w') Edition 3
            td 2005
          tr
            td: a(href='/edition/z') Edition 4
            td 2005
        hr(style="display:none")

        h2
          small.pull-right
            a.btn.btn-warning.btn-xs.fa.fa-pencil.entity-action(title='Edit relationships', href='/publication/'+entity.gid+'/relationships')
              span.sr-only Edit relationships
          | Relationships
        ul.list-unstyled
          for relationship in entity.relationships.objects
            li!=relationship.rendered

      .col-md-4
        .text-center No Image
        hr
        span(data-bind='text: editMode')
        dl
          dt Type
          dd=entity.data.publication_data.publication_type.label

          dt Last Modified
          dd=(new Date(entity.last_updated)).toLocaleDateString()

  include /footer
