extends ./entity

block icon
	span.fa.fa-book

block picture
	span.fa.fa-book.picture-fallback-icon-large

block attributes
	dt Status
	dd=(entity.editionStatus ? entity.editionStatus.label : '?')

	dt Format
	dd=(entity.editionFormat ? entity.editionFormat.label : '?')

	dt Languages
	dd
		if entity.languageSet && entity.languageSet.languages
			=entity.languageSet.languages.map(function(l){return l.name;}).join(', ')
		else
			| ?

	dt Publishers
	dd
		if entity.publisherSet && entity.publisherSet.publishers.length > 0
			each publisher in entity.publisherSet.publishers
				a(href="/publisher/"+publisher.bbid)
					=publisher.defaultAlias.name
		else
			|?

	dt Release Date
	dd=(entity.releaseEventSet && entity.releaseEventSet.releaseEvents && entity.releaseEventSet.releaseEvents.length ? entity.releaseEventSet.releaseEvents[0].date : '?')

	dt Page Count
	dd=(entity.pages ? entity.pages : '?')

	dt Weight
	dd=(entity.weight ? entity.weight : '?') + ' g'

	dt Dimensions (W×H×D)
	dd=(entity.width ? entity.width : '?') + '×' + (entity.height ? entity.height : '?') + '×' + (entity.depth ? entity.depth : '?') + ' mm'

block content
	p
		if entity.publication
			a(href="/publication/"+entity.publication.bbid)
				span.fa.fa-external-link
				|&nbsp;See all other editions
		else
			span.bg-danger Publication unset - please add one if you see this!
