extends /layout

mixin type(entityType)
	dt Type
	dd=(entityType ? entityType.label : '?')
	
mixin begin_end
	dt Begin Date
	dd=(entity.beginDate ? entity.beginDate : '?')

	if entity.ended
		dt End Date
		dd=(entity.endDate ? entity.endDate : '?')

block body
	if alert
		.row
			.col-md-12
				.alert.alert-info
					div
						strong Achievement unlocked:
						each achievement in alert
							p #{achievement.name}
					div
						strong Go to your profile to display
	.row
		.col-md-12
			h1
				a.pull-right.btn.btn-primary.entity-action(
					title='Revision History'
					href='/'+entity.type.toLowerCase()+'/'+entity.bbid+'/revisions'
				)
					span.fa.fa-history.fa-fw
					| &nbsp;&nbsp;History
				if entity.revision.dataId
					a.pull-right.btn.btn-danger.entity-action(
						title='Delete Entity'
						href='/'+entity.type.toLowerCase()+'/'+entity.bbid+'/delete'
					)
						span.fa.fa-remove.fa-fw
						| &nbsp;&nbsp;Delete
					a.pull-right.btn.btn-warning.entity-action(
						title='Edit Entity'
						href='/'+entity.type.toLowerCase()+'/'+entity.bbid+'/edit'
					)
						span.fa.fa-pencil.fa-fw
						| &nbsp;&nbsp;Edit
				block icon
				| &nbsp;
				if entity.revision.dataId
					if entity.defaultAlias
						=entity.defaultAlias.name
						|&nbsp;
					else
						|(unnamed)
				else
					=entity.type + ' ' + entity.bbid
				if entity.disambiguation
					small='('+entity.disambiguation.comment+')'
			hr
	if entity.revision.dataId
		.row
			.col-md-4.col-md-push-8
				.text-center
					block picture
				hr
				dl
					block attributes

					dt Last Modified
					dd=(new Date(entity.revision.revision.createdAt)).toLocaleDateString()

					if entity.identifierSet
						each identifierType in identifierTypes
							dt=identifierType.label
							each identifier in entity.identifierSet.identifiers
								if identifier.type.id === identifierType.id
									dd=identifier.value
			.col-md-8.col-md-pull-4
				if entity.annotation
					blockquote
						p=entity.annotation.content
						footer='updated ' + (new Date(entity.annotation.lastRevision.createdAt)).toLocaleDateString()
				block content
				h2 Relationships
				ul.list-unstyled
					if entity.relationships
						for relationship in entity.relationships
							li!=relationship.rendered
				a.btn.btn-warning.entity-action(title='Edit Relationships', href='/'+entity.type.toLowerCase()+'/'+entity.bbid+'/relationships')
					span.fa.fa-pencil
					|&nbsp;Edit
	else
		.row.margin-top-2
			.col-md-6.col-md-offset-3
				.panel.panel-danger
					.panel-heading
						h3.panel-title Deleted #{entity.type}
					.panel-body.
						This entity has been deleted by an editor. This is most
						likely because it was added accidentally or
						incorrectly. If you're sure this entity should still
						exist, you will be able to undelete it in a future
						version of BookBrainz, but that's not quite ready yet.
