extends /layout

mixin type(entity_type)
	dt Type
	dd=(entity_type ? entity_type.label : '?')
	
mixin begin_end
	dt Begin Date
	dd=(entity.begin_date ? entity.begin_date : '?')

	if entity.ended
		dt End Date
		dd=(entity.end_date ? entity.end_date : '?')

block body
	.row
		.col-md-12
			h1
				a.pull-right.btn.btn-primary.entity-action(
					title='Revision History'
					href='/'+entity._type.toLowerCase()+'/'+entity.bbid+'/revisions'
				)
					span.fa.fa-history.fa-fw
					| &nbsp;&nbsp;History
				if entity.revision.entity_data_id
					a.pull-right.btn.btn-danger.entity-action(
						title='Delete Entity'
						href='/'+entity._type.toLowerCase()+'/'+entity.bbid+'/delete'
					)
						span.fa.fa-remove.fa-fw
						| &nbsp;&nbsp;Delete
					a.pull-right.btn.btn-warning.entity-action(
						title='Edit Entity'
						href='/'+entity._type.toLowerCase()+'/'+entity.bbid+'/edit'
					)
						span.fa.fa-pencil.fa-fw
						| &nbsp;&nbsp;Edit
				block icon
				| &nbsp;
				if entity.revision.entity_data_id
					if entity.default_alias
						=entity.default_alias.name
						|&nbsp;
					else
						|(unnamed)
				else
					=entity._type + ' ' + entity.bbid
				if entity.disambiguation
					small='('+entity.disambiguation.comment+')'
			hr
	if entity.revision.entity_data_id
		.row
			.col-md-4.col-md-push-8
				.text-center
					block picture
				hr
				dl
					block attributes

					dt Last Modified
					dd=(new Date(entity.last_updated)).toLocaleDateString()

					each identifier_type in identifier_types
						dt=identifier_type.label
						each identifier in entity.identifiers
							if identifier.identifier_type.identifier_type_id === identifier_type.identifier_type_id
								dd=identifier.value
			.col-md-8.col-md-pull-4
				if entity.annotation
					blockquote
						p=entity.annotation.content
						footer='updated ' + (new Date(entity.annotation.created_at)).toLocaleDateString()
				block content
				h2 Relationships
				ul.list-unstyled
					if entity.relationships
						for relationship in entity.relationships
							li!=relationship.rendered
				a.btn.btn-warning.entity-action(title='Edit Relationships', href='/'+entity._type.toLowerCase()+'/'+entity.bbid+'/relationships')
					span.fa.fa-pencil
					|&nbsp;Edit
	else
		.row.margin-top-2
			.col-md-6.col-md-offset-3
				.panel.panel-danger
					.panel-heading
						h3.panel-title Deleted #{entity._type}
					.panel-body.
						This entity has been deleted by an editor. This is most
						likely because it was added accidentally or
						incorrectly. If you're sure this entity should still
						exist, you will be able to undelete it in a future
						version of BookBrainz, but that's not quite ready yet.
