extends /layout

block body
	.row
		.col-md-12
			h1
				a.pull-right.btn.btn-primary.entity-action(title='Revision History', href='/work/'+entity.bbid+'/revisions')
					span.fa.fa-history
					|&nbsp;History
				a.pull-right.btn.btn-warning.entity-action(title='Edit Entity', href='/work/'+entity.bbid+'/edit')
					span.fa.fa-pencil
					|&nbsp;Edit
				if entity.default_alias
					=entity.default_alias.name
					|&nbsp;
				else
					|(unnamed)
				if entity.disambiguation
					small='('+entity.disambiguation.comment+')'
			hr
	.row
		.col-md-8
			h2 Relationships
				a.pull-right.btn.btn-warning.entity-action(title='Edit Relationships', href='/work/'+entity.bbid+'/relationships')
					span.fa.fa-pencil
					|&nbsp;Edit
			ul.list-unstyled
				if entity.relationships
					for relationship in entity.relationships
						li!=relationship.rendered

		.col-md-4
			.text-center No Image
			hr
			dl
				dt Type
				dd=(entity.work_type ? entity.work_type.label : '?')

				dt Languages
				dd
					if entity.languages
						=entity.languages.map(function(l){return l.name;}).join(', ')
					else
						| ?

				dt Begin Date
				dd=(entity.begin_date ? entity.begin_date : '?')

				if entity.ended
					dt End Date
					dd=(entity.end_date ? entity.end_date : '?')

				dt Last Modified
				dd=(new Date(entity.last_updated)).toLocaleDateString()
