extends /layout

block body
	.row
		.col-md-12
			h1
				a.pull-right.btn.btn-primary.entity-action(title='Revision History', href='/work/'+entity.bbid+'/revisions')
					span.fa.fa-history
					|&nbsp;History
				a.pull-right.btn.btn-warning.entity-action(title='Edit Entity', href='/work/'+entity.bbid+'/edit')
					span.fa.fa-pencil
					|&nbsp;Edit
				span.fa.fa-file-text-o
				| &nbsp;
				if entity.default_alias
					=entity.default_alias.name
					|&nbsp;
				else
					|(unnamed)
				if entity.disambiguation
					small='('+entity.disambiguation.comment+')'
			hr
	.row
		.col-md-4.col-md-push-8
			.text-center
				span.fa.fa-file-text-o.picture-fallback-icon-large
			hr
			dl
				dt Type
				dd=(entity.work_type ? entity.work_type.label : '?')

				dt Languages
				dd
					if entity.languages
						=entity.languages.map(function(l){return l.name;}).join(', ')
					else
						| ?

				dt Last Modified
				dd=(new Date(entity.last_updated)).toLocaleDateString()

				each identifier in entity.identifiers
					dt=identifier.identifier_type.label
					dd=identifier.value
		.col-md-8.col-md-pull-4
			if entity.annotation
				blockquote
					p=entity.annotation.content
					footer='updated ' + (new Date(entity.annotation.created_at)).toLocaleDateString()
			h2 Relationships
			ul.list-unstyled
				if entity.relationships
					for relationship in entity.relationships
						li!=relationship.rendered
			a.btn.btn-warning.entity-action(title='Edit Relationships', href='/work/'+entity.bbid+'/relationships')
				span.fa.fa-pencil
				|&nbsp;Edit
