extends ../layout

block body
	.row
		.col-md-12
			if editor.title
				div
					a(href=" " title=editor.title.description)
						h1=editor.title.title + " " + editor.name
			else
				h1=editor.name
	.row
		.col-md-12
			ul.nav.nav-tabs
				li.active: a(href='./'+editor.id) Profile
				li: a(href='./'+editor.id+'/revisions') Revisions
				li: a(href='./'+editor.id+'/achievements') Achievements
	.row
		.col-md-12
			h2 Basic Info
				if user
					if editor.id == user.id
						small.pull-right
							a.btn.btn-warning.entity-action(title='Edit basic editor info', href='/editor/edit')
								span.fa.fa-pencil
								|&nbsp;Edit Profile
			dl.dl-horizontal
				dt Email
				dd
					if editor.email
						=editor.email
						| &nbsp;
					i (hidden)
				dt Type
				dd=editor.type.label
				dt Reputation
				dd 0
				dt Joined
				dd=(new Date(editor.createdAt)).toUTCString()
				dt Last Active
				dd=(new Date(editor.activeAt)).toUTCString()
				dt Bio
				dd=(editor.bio ? editor.bio : '-')
			h2 Stats
			dl.dl-horizontal
				dt Total Revisions
				dd=editor.totalRevisions
				dt Revisions Applied
				dd=editor.revisionsApplied
				dt Revisions Reverted
				dd=editor.revisionsReverted
			h2 Badges
			.row(height="200px", margin="0", padding="0")
				each model in achievement.model
					.col-md-3
						.well
							img(width="50%", src=model.achievement.badgeUrl).center-block
							p.text-center=model.achievement.name
							p.text-center=model.achievement.description
							p.text-center="unlocked: " + model.unlockedAt
				if achievement.length == 0
					.col-md-9
						.well(height="100%")
							img(height="180px", src="/images/sadface.png").center-block
							p.text-center No badge to show, why not try viewing some entries
				if achievement.length == 1
					.col-md-5
						.well(height="100%")
							img(height="180px", src="/images/sadface.png").center-block
							p.text-center No badge to show, why not try viewing some entries					.well(height="100%")
				if achievement.length == 2
					.col-md-3
						.well(height="100%")
							img(height="180px", src="/images/sadface.png").center-block
							p.text-center No badge to show, why not try viewing some entries
