extends layout

block body
	.alert.alert-warning.text-center
		p='Under development — adventurous users, please test and add data! Give us feedback about bugs, glitches and potential improvements at '
			a(href="//tickets.musicbrainz.org/browse/BB") MusicBrainz JIRA!
	
	div#background-image
		div#background-overlay.text-center
			.container
				img.img-responsive.center-block(src='/images/BookBrainz_text.svg', width=500, alt='BookBrainz logo', title='BookBrainz')

				.row
					.col-md-8.col-md-offset-2
						form(role='search', action='/search')
							.input-group.input-group-lg.margin-top-5
								input.form-control(type="text", autofocus, placeholder="Search for...", name='q')
								span.input-group-btn
									button.btn.btn-success(type='submit')
										span.fa.fa-search

						.row.margin-top-4
							.col-sm-4
								a.btn.btn-block.btn-lg.btn-default(href='/about') About
							.col-sm-4
								a.btn.btn-block.btn-lg.btn-default(href='/contribute') Contribute
							.col-sm-4
								a.btn.btn-block.btn-lg.btn-default(href='/develop') Develop
						
						.margin-top-3
							h4.contact-text Contact Us
							span.fa.fa-circle.margin-sides-1.contact-text
							a(href="//webchat.freenode.net/?channels=#metabrainz")
								span.fa.fa-comment.fa-2x.contact-text
							span.fa.fa-circle.margin-sides-1.contact-text
							a(href="//twitter.com/intent/tweet?screen_name=BookBrainz")
								span.fa.fa-twitter.fa-2x.contact-text
							span.fa.fa-circle.margin-sides-1.contact-text
							a(href="mailto:bookbrainz-users@groups.io")
								span.fa.fa-envelope.fa-2x.contact-text
							span.fa.fa-circle.margin-sides-1.contact-text

	.container
		.row
			.col-md-8.col-md-offset-2
				h1.text-center The Open Book Database
				p.lead.text-justify.
					BookBrainz is a project to create an online database of information
					about every single book, magazine, journal and other publication ever
					written. We make all the data that we collect available to the whole
					world to consume and use as they see fit. Anyone can contribute to
					BookBrainz, whether through editing our information, helping out with
					development, or just spreading the word about our project.

		hr
		.row
			.col-md-2.text-center.margin-top-4
				span.fa.fa-user.fa-5x
			.col-md-10
				h2 Join Us!
				
				p.lead
					| First off,&nbsp;
					a(href='/about', target='blank') read about us
					| &nbsp;and&nbsp;
					a(href='/contribute', target='blank') how you can help
					| . Then, if you think you want to stick around, hit the button
					| below to sign up for a free BookBrainz account!
		.text-center.margin-top-1.margin-bottom-3
			a.btn.btn-success.btn-lg(href='/register') Register!
		if recent
			hr
			.row
				.col-md-12
					- var picture_classes = {Edition: 'fa-book', Publication: 'fa-th-list', Creator: 'fa-user', Publisher: 'fa-university', Work: 'fa-file-text-o'}
					h2.text-center Recent Activity
					
					.list-group
						for revision in recent
							- var name = '(unnamed)';
							if revision.entity.default_alias
								- name = revision.entity.default_alias.name;
							a.list-group-item(href='/revision/'+revision.id)
								.row
									.col-md-2='r'+revision.id
									.col-md-6
										span.fa(class=picture_classes[revision.entity._type])
										span.margin-left-1=name
									.col-md-4=(new Date(Date.parse(revision.created_at)).toLocaleDateString())
