doctype html
html
	head
		title= title ? title + ' – BookBrainz' : 'BookBrainz – The Open Book Database'
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/lib/select2.css')

	body
		a.sr-only.sr-only-focusable(href='#content') Skip to main content
		nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
			.container
				//- Brand and toggle get grouped for better mobile display
				.navbar-header
					button.navbar-toggle.collapsed(
						type='button', data-toggle='collapse'
						data-target='#bs-example-navbar-collapse-1'
					)
						span.sr-only Toggle navigation

						span.icon-bar
						span.icon-bar
						span.icon-bar

					a.navbar-brand(href='/')
						img(alt='Brand', src='/images/BookBrainz_logo_small.svg')

				//- Collect the nav links, forms, and other content for toggling
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='/about') About
						li
							a(href='/contribute') Contribute
						li
							a(href='/develop') Develop

					form.navbar-form.navbar-right(role='search', action='/search')
						div.form-group
							input.form-control(type='text', placeholder='Search', name='q')

						button.btn.btn-primary(type='submit')
							span.fa.fa-search
							span.sr-only Search

					ul.nav.navbar-nav.navbar-right
						li.dropdown
							a.dropdown-toggle#dNewEntities(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
								span.fa.fa-plus
								|&nbsp;Create&nbsp;
								span.caret

							ul.dropdown-menu(role='menu' aria-labelledby='dNewEntities')
								li: a(href='/publication/create') Create Publication
								li: a(href='/edition/create') Create Edition
								li: a(href='/work/create') Create Work
								li.divider
								li: a(href='/creator/create') Create Creator
								li: a(href='/publisher/create') Create Publisher

						if user
							li
								a(href='/editor/'+user.id)= user.name
							li
								a(href='/message/inbox')
									if inboxCount === 0
										span.fa.fa-envelope-o
										|&nbsp;Inbox
									else
										span.fa.fa-envelope
										|&nbsp;Inbox&nbsp;
										span.badge=inboxCount
						li
							if user
								a(href='/logout') Logout
							else
								a(href='/login') Login

						unless user
							li
								a(href='/register') Register

		.container#content
			block body

		include footer

		script(src='/js/bundle.js')
		script(src='/js/layout.js')
		block js
