extends /layout

mixin formatRow(change)
	if change.kind === 'E'
		tr.warning
			th(scope='row')=change.key
			td
				each v in change.lhs
					div=v
			td
				each v in change.rhs
					div=v
	else if change.kind === 'N'
			tr.success
				th(scope='row')=change.key
				td=' — '
				td
					each v in change.rhs
						div=v
	else if change.kind === 'D'
			tr.danger
				th(scope='row')=change.key
				td
					each v in change.lhs
						div=v
				td=' — '
block body
	div.row
		div.col-md-12
			div
				div
					h1
						span='Revision #'
						span=revision.id

					if diffs
						for diff in diffs
							h3
								a(href='/' + diff.entity.type.toLowerCase() + '/' + diff.entity.bbid)
										=(diff.entity.type + ' ' + diff.entity.bbid)
							table.table.table-bordered.text-center
								tbody
									each change in diff.changes
										+formatRow(change)
					else
						.alert.alert-danger Error calculating diffs. Please note that diffs for DELETE revisions are currently unsupported.
					
					p.text-right
						='Created by '
						a(href='/editor/'+revision.author.id)=revision.author.name
						=(', ' + new Date(revision.createdAt).toLocaleDateString())
					
					h3 Revision Notes
					each note in revision.notes
						.panel.panel-default
							.panel-body
								p=note.content
								p.text-right
									='— '
									a(href='/editor/'+note.author.id)=note.author.name
									=(', ' + new Date(note.postedAt).toLocaleTimeString() + ', ' + new Date(note.postedAt).toLocaleDateString())
					else
						p No revision notes present
