extends /layout

mixin formatRow(fieldName, newValue, oldValue)
	if (oldValue && (oldValue.length > 0)) && !(newValue && (newValue.length > 0))
		tr.danger
			th(scope='row')=fieldName
			td
				for v in oldValue
					=v
					br
			td —
	else if !(oldValue && (oldValue.length > 0)) && (newValue && (newValue.length > 0)) 
		tr.success
			th(scope='row')=fieldName
			td —
			td
				for v in newValue
					=v
					br
	else
		tr.warning
			th(scope='row')=fieldName
			td
				for v in oldValue
					=v
					br
			td
				for v in newValue
					=v
					br

block body
	h1=('Revision #' + revision.id)
	if revision.entity
		h3
			a(href='/' + revision.entity._type.toLowerCase() + '/' + revision.entity.bbid)
				=(revision.entity._type + ' ' + revision.entity.bbid)
	else
		h3=('Relationship ' + revision.relationship.id)

	if diff
		table.table.table-bordered.text-center
			for d in diff
				each val, key in d
					+formatRow(key, val[0], val[1])
	else
		.alert.alert-danger Error calculating diff. Please note that diffs for DELETE revisions are currently unsupported.
	
	p.text-right
		='Created by '
		a(href='/editor/'+revision.user.id)=revision.user.name
		=(', ' + new Date(revision.created_at).toLocaleDateString())
	
	h3 Revision Notes
	if revision.note
		.panel.panel-default
			.panel-body
				p=revision.note
				p.text-right
					='— '
					a(href='/editor/'+revision.user.id)=revision.user.name
					=(', ' + new Date(revision.created_at).toLocaleTimeString() + ', ' + new Date(revision.created_at).toLocaleDateString())
	else
		p No revision notes present
